.homepage-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/imgs/homepage.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    color: #fff;
}